{% extends "userinfo/base.html" %}

{% block content %}

<br><br><br><br><br>

<h2>Login</h2>

    {% if form.errors %}
    <div class="container">
    <div class="row">
    <div class="col.xs-7">
     <strong>You Entered an Incorrect Password or Username<br>
      Please try agian</strong>
    </div>
</div>

    {% endif %}<br>
    <form action="{% url 'userinfo:login' %}" method="POST"><br><br><br>
        {% csrf_token %}
        {% for field in form %}
            {%  include "userinfo/_form_input.html" %}
        {% endfor %}
        <input type="hidden" name="next" value="{{next}}"><br>
        <button class="btn btn-danger" type="submit">Click Here to Login</button>
    </form>
{% endblock content %}
