 {% extends 'userinfo/base.html' %}
{% load staticfiles %}


{% block title %}
  {{ block.super }}
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <form action="" method="POST">
        {% csrf_token %}<br><br><br><br><br><br><br><br><br><br><br>
       {{form}}
        <button type="submit" class="btn btn-danger btn-lg">Post</button>
      </form>
    </div>
  </div>



{% endblock %}
