{% extends 'userinfo/base.html' %}
{% load staticfiles %}

{% block title %}
  {{ block.super }} - Home
{% endblock %}

{% block content_classes %}
    {{block.super}}
{% endblock content_classes %}

{% block content %}

<br/><br/><br/><br/><br/><br/><br/>
<div class= "containter">
<div class= "row">
<div class= "col-xs-10" style= "border:4px dotted black;padding-top: 15px;padding-bottom: 15px;">
<img src="{% static 'images/awesome_profile.png' %}" width=85 height=85></img>
<h3>Full Name: {{ spammer.get_full_name }}</h3>
<h4>Email: {{ spammer.email }}</h4>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>User ID:  {{spammer}}</h2>
    </div>
     <div class= "container">
   <div class= "col-xs-10" style= "border: 1px solid #000;;padding-top: 15px;padding-bottom: 15px;">
<div class="row"></div>
  {% for message in spam %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
     
     <div class="panel-title pull-left">
              
          </div>
          <div class="pull-right"><small>{{spam.date}}</small></div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body"> {{spam}}</div>
      </div>


    </div>
  </div>
  {% endfor %}
{% endblock %}
