{% extends 'userinfo/base.html' %}
{% load staticfiles %}


{% block title %}
  {{ block.super }}
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}
<div class="container">
   <div class="jumbotron">
    <div class="col-md-8 col-md-offset-1"><br><br>
      <h2>Registered Spammers</h2>
    </div>
  </div>
</div>
      {% for x in user_list %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align:left;">

  <h3>    {{x.get_username}}</h3>
  <img src="{% static 'images/awesome_profile.png' %}"></img>
    </div>
  </div>
    <div class="user-message-body-wrapper">
      <div class="panel-body">
        <a href="http://localhost:8000/users/{{x.id}}/">View {{x.get_username}}'s Spam</a>
      </div>
    </div>
  </div>
    </div>
  </div>
  {% endfor %}



{% endblock %}
